* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* ! *************************** */
/* ? header left section style  */
/* ! *************************** */

.header-section {
  padding: 0px 100px;
  height: auto;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-section .left-header-content {
  margin-top: 10px;
}

.header-section .left-header-content h1 {
  color: #272727;
  font: normal 800 80px/100px 'Lato';
  margin: 30px 0px;
}

.header-section .left-header-content p {
  color: rgba(39, 39, 39, 0.6);
  font: normal normal 400 22px/32px 'Lato';
  margin: 50px 0px;
}

.header-section .left-header-content button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #ffffff;
  cursor: pointer;
  text-transform: capitalize;
  font: normal normal 700 17px/20px 'Lato';
}

/* ! ---------------------------- */
/* ? header right section style */
/* ! ---------------------------- */

.header-section .right-header-content {
  margin-top: 100px;
}

.header-section .right-header-content .img {
  width: 550px;
  height: auto;
}

.header-section .right-header-content .img > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* !----------------------------- */
/* ? feature section style here */
/* !----------------------------- */

.feature-section {
  padding: 200px 0px;
}

.feature-section .feature-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-section .feature-header h3 {
  color: #272727;
  text-align: center;
  font: normal normal 800 43px / normal 'Lato';
  padding: 30px 0px;
}

.feature-section .feature-header p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font: normal normal 400 20px/30px 'Lato';
}

.feature-section .feature-items {
  margin: 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.feature-section .feature-items .feature-item:nth-child(1) {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0px 78px;
}

.feature-section .feature-items .feature-item:nth-child(1) .feature-img {
  width: 310px;
  height: 428px;
}

.feature-section .feature-items .feature-item:nth-child(1) .feature-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ! ---------------------- */

.feature-section .feature-items .feature-item:nth-child(2) {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 110px 78px 0px 78px;
}

.feature-section .feature-items .feature-item:nth-child(2) .feature-img {
  width: 310px;
  height: 428px;
}

.feature-section .feature-items .feature-item:nth-child(2) .feature-img img {
  width: 130%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -30px;
}

/*  ! ---------------------- */

.feature-section .feature-items .feature-item:nth-child(3) {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 110px 78px 0px 78px;
}

.feature-section .feature-items .feature-item:nth-child(3) .feature-img {
  width: 310px;
  height: 428px;
}

.feature-section .feature-items .feature-item:nth-child(3) .feature-img img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ! ------------------ */

.feature-section .feature-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.feature-section .feature-link a {
  color: #272727;
  text-align: center;
  font: normal normal 700 24px/25px 'Lato';
}

/* !-------------------- */

.client-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.client-section .client-items {
  width: 1500px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 50px 0px;
}

.client-section .client-items .client-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 0px 50px;
}

.client-section .client-items .client-item .client-img {
  width: 200px;
  height: 100px;
}

.client-section .client-items .client-item h5 {
  color: rgba(39, 39, 39, 0.8);
  font: normal normal 600 24px/35px 'Lato';
  text-align: center;
}

/* !----------------------------- */
/* ? deal section style here */
/* !----------------------------- */

.deal-section {
  margin: 100px 0px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.deal-section .left-deal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-section .left-deal > h1 {
  color: #272727;
  font: normal normal 800 35px / normal 'Lato';
}

.deal-section .left-deal > h1 > span {
  color: #e55473;
}

.deal-section .left-deal > p {
  color: rgba(39, 39, 39, 0.6);
  font: normal normal 400 20px/30px 'Lato';
  padding: 20px 0px;
  text-align: center;
}

.deal-section .left-deal > button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #ffffff;
  cursor: pointer;
  text-transform: capitalize;
  font: normal normal 700 17px/20px 'Lato';
  margin: 20px 0px;
}

.right-deal {
  padding: 100px 0px;
}

.right-deal > .deal-img {
  width: 318px;
  height: 420px;
}

.right-deal > .deal-img > img {
  width: 100%;
  height: 100%;
}

/* !----------------------------- */
/* ? deal section style here */
/* !----------------------------- */

.instagram-section .instagram-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram-section .instagram-header > h1 {
  color: #272727;
  font: normal normal 800 40px / normal 'Lato';
}

.instagram-section .instagram-header > p {
  color: rgba(39, 39, 39, 0.6);
  font: normal normal 400 18px/30px 'Lato';
  text-align: center;
  padding: 20px 0px;
}

.instagram-section .instagram-items {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.instagram-section .instagram-items .instagram-item > .instagram-img > img {
  border-radius: 22px;
}

/* !----------------------------- */
/* ? latest  section style here */
/* !----------------------------- */

.latest-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 100px 0px;
  padding: 140px 0px;
}

.latest-section .latest-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-section .latest-header > h1 {
  color: #272727;
  font: normal normal 800 40px / normal 'Lato';
}

.latest-section .latest-header > p {
  color: rgba(39, 39, 39, 0.6);
  font: normal normal 400 18px/30px 'Lato';
  padding: 30px 0px;
}

.latest-section .latest-input > input {
  width: 800px;
  padding: 20px 20px;
  border-radius: 12px;
}

.latest-section .latest-input > input::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font: normal normal 400 16px / normal 'Lato';
}

.latest-section .latest-input > button {
  border-radius: 8px;
  background: #e55473;
  padding: 15px 43px;
  color: #ffffff;
  cursor: pointer;
  text-transform: capitalize;
  font: normal normal 700 17px/20px 'Lato';
  margin-left: 10px;
}

/* !----------------------------- */
/* ? footer  section style here */
/* !----------------------------- */

.footer-section {
  background-color: #111010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.footer-section h1 {
  text-align: center;
  color: #ffffff;
  padding: 20px 0px;
}

.footer-section span {
  color: #e55473;
}

.footer-section > p {
  color: rgba(255, 255, 255, 0.9);
  font: normal normal 400 18px/30px 'Lato';
  text-align: center;
  padding: 20px 0px;
}

.footer-section small {
  color: rgba(255, 255, 255, 0.4);
  font: normal normal 400 16px / normal 'Lato';
  text-align: center;
  padding: 20px 0px;
}
